{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup", "html", "jsx", "scss", "stylus", "json", "shell", "diff"],
        "plugins": ["line-numbers"],
        "theme": "coy",
        "css": true
    }]
  ]
}
