{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
        "languages": ["javascript","css","markup","html","jsx"],
        "plugins": ["line-numbers"],
        "theme": "coy",
        "css": true
    }]
  ]
}
