{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "ts",
          "css",
          "markup",
          "html",
          "jsx",
          "scss",
          "stylus",
          "json",
          "shell",
          "diff"
        ],
        "plugins": ["line-numbers"],
        "css": true
      }
    ]
  ]
}
