# dependencies
/node_modules
/.next

# IDEs and editors
.idea/*
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.DS_STORE

# IDE - VSCode
.vscode/*
!.vscode/settings.json

# misc
npm-debug.log
eslint-log.txt
./**/__snapshots__

.eslintcache
.env
.now

# storybook
/storybook
