# dependencies
/node_modules
/.next
/out

# IDEs and editors
.idea/*
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.DS_STORE
.vscode/*
!.vscode/settings.json

# misc
npm-debug.log
eslint-log.txt
./**/__snapshots__

.eslintcache
.env.local
.env.development.local
.env.test.local
.env.production.local
.now

# storybook
/storybook
